*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "pixel-font-wide";
  src: url("depixel/depixel-wide.woff2") format("woff2");
}
@font-face {
  font-family: "pixel-font-wide-bold";
  src: url("depixel/depixel-wide-bold.woff2") format("woff2");
}
@font-face {
  font-family: "pixel-font-illegible";
  src: url("depixel/depixel-illegible.woff2") format("woff2");
}
@font-face {
  font-family: "pixel-font-semi-bold";
  src: url("depixel/depixel-semi-bold.woff2") format("woff2");
}

body {
  background-image: url("assets/star-trek-background.jpg");
  color: #00eaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "pixel-font-wide";
}

header,
footer {
  display: flex;
  justify-content: center;
}

header {
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  gap: 20px;
}

.crop {
  width: 1000px;
  height: 530px;
  overflow: hidden;
}

.crop img {
  object-fit: cover;
  object-position: 50% -120px;
}

.rules {
  font-size: x-large;
  margin-bottom: 70px;
  background-color: rgb(1, 1, 68);
  padding: 56px 56px 40px 56px;
  border-radius: 20px;
  border: solid #00eaff 3px;
}

.play-box,
.combat-box {
  display: flex;
  min-height: 300px;
  background-color: rgb(1, 1, 68);
  border: solid #00eaff 3px;
  border-radius: 20px;
  margin-bottom: 70px;
}

.play-box {
  align-items: center;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px;
}

.play-box button {
  width: 200px;
  height: 200px;
  border: solid 5px rgb(99, 107, 107);
}

.play-box img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.combat-box {
  justify-content: left;
}

.combat-box img {
  width: 200px;
  height: 200px;
  border: solid 5px rgb(99, 107, 107);
}

.enemy-choice,
.combat-info {
  padding: 0px 40px;
}

.enemy-choice {
  border-right: solid 5px #00eaff;
  margin-top: 0;
  margin-bottom: 0;
}
